#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.caret {
  width: 2px;
  height: 1.5rem;
  z-index: 40;
}

.logo {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

.letter {
  font-family: 'consolas';
  font-size: 1em;
  line-height: 1em;
  display: inline;
}

.word {
  font-size: 1em;
  display: inline;
  line-height: 1em;
  margin: 2px;
}

.incorrect {
  color: hsl(var(--nextui-danger-500));
}

.correct {
  color: hsl(var(--nextui-primary-600));
}